/*!
 * The Wolf v1.0 (http://thewolf.bittyfox.com/)
 * Copyright The Wolf Company © 2017 
 * 
 */

nav.horizontal-menu {
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 1px;
}
nav.horizontal-menu ul {
    list-style-type:none;
    margin:0;
    padding:0;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
}
nav.horizontal-menu ul li {
    display:inline-block;
    position:relative;
}

/* sub navigation */
nav.horizontal-menu li ul {    
    background-color: #fff;
    position:absolute;
    z-index: 999;
    left:0;
    top:55px; /* make this equal to the line-height of the links (specified below) */
    width:200px;
}
nav.horizontal-menu li li {
    position:relative;
    margin:0;
    display:block;
}
nav.horizontal-menu li li ul {
    position:absolute;
    z-index: 999;
    top:0;
    left:200px; /* make this equal to the width of the sub nav.horizontal-menu above */
    margin:0;
}

/* style all links */
nav.horizontal-menu a {
    line-height:40px;
    padding: 8px 12px;
    margin:0 12px;
    color:#354759;
    text-decoration:none;
    display:block;
}
nav.horizontal-menu a:hover,
nav.horizontal-menu a:focus,
nav.horizontal-menu a:active {
    color:rgb(50,50,50);   
}


nav.horizontal-menu ul li:hover { 
    background-color: #f5f5f5;
}

/* style sub level links */
nav.horizontal-menu li li a {   
    margin:0 10px;
    padding:0;
}
nav.horizontal-menu li li:last-child a {
    border-bottom:none;
}

/* hide sub menu links */
nav.horizontal-menu ul.sub-menu {
    display:none;
}

/* show arrows for dropdowns */
nav.horizontal-menu li.dropdown > a {
    background-image:url('../images/arrow-down.png');
    background-position:right center;
    background-repeat:no-repeat;
}

nav.horizontal-menu li li.dropdown > a {
    background-image:url('../images/arrow-right.png');
    background-position:right 16px;
    background-repeat:no-repeat;
}

.horizontal-menu.fixed-horizontal-menu{    
    left: 0;    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}


@media (max-width: 768px) {

.horizontal-menu.fixed-horizontal-menu {   
    position: static;   
}

.page-sidebar {
    display: block !important;
    height: 100% !important;
    margin-top: 55px;
    padding-top: 0;
    position: fixed !important;
    width: 220px !important;
}

.page-sidebar-fixed .page-header {
    position: fixed;
    z-index: 999;
}

}