/*!
 * The Wolf v1.0 (http://thewolf.bittyfox.com/)
 * Copyright The Wolf Company © 2017 
 * 
 */

.page-header.navbar .page-logo {
    left: 50%;
    margin-left: -110px;
    position: absolute;
}

.page-content-wrapper .page-content {
    margin-left: 0;    
}

.page-sidebar-closed .page-sidebar, 
.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed {
    left: -220px;
    width: 220px;
    margin-right: auto;
}

.page-sidebar-closed .page-sidebar .page-sidebar-menu > li > a span {
    display: inline-block;
}

.page-sidebar-closed .page-content-wrapper .page-content {
    margin-left: 0;
}

.page-sidebar-closed .page-header.navbar .page-logo {
    overflow: visible;
    width: auto;
}

.page-sidebar-closed .page-header.navbar .sidebar-close-logo {
    display: none;
}

.page-header.navbar .page-logo > .logo-image, 
.page-header.navbar .page-logo > a {  
    padding: 0 15px;
}

@media (max-width: 768px) {

.page-sidebar-fixed.page-sidebar-closed .page-sidebar{   
    width: 0 !important;   
}

.page-sidebar {
    display: block !important;
    width: 100% !important;
    position: fixed !important;
    height: 100% !important;
    overflow: auto;
    padding-top: 55px;
}

}